@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/antiqua-2');

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
  font-family: 'Book Antiqua', sans-serif;
}
